--minversion 0.51.7

# options
--funcattributes same-line
--ranges no-space

# rules enabled 
--enable \
	wrapEnumCases

# rules disabled
--disable \
	andOperator, \
	redundantPattern, \
	redundantLet, \
	wrapMultilineStatementBraces,
